<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kelolarupiah">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KelolaRupiah"
        tools:targetApi="31">

        <!-- Splash Screen Activity -->
        <activity
            android:name="com.example.kelolarupiah.ui.splash.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity android:name=".ui.home.MainActivity"
            android:exported="true" /> <!-- Tambahkan android:exported="true" -->

        <!-- Tambah Transaksi Activity -->
        <activity android:name=".ui.add.TambahTransaksiActivity"
            android:exported="true" /> <!-- Tambahkan android:exported="true" -->

        <!-- Update Transaksi Activity -->
        <activity android:name=".ui.update.UpdateTransaksiActivity"
            android:exported="true" /> <!-- Tambahkan android:exported="true" -->

        <!-- Laporan Activity -->
        <activity android:name=".ui.report.LaporanActivity"
            android:exported="true" /> <!-- Tambahkan android:exported="true" -->

        <!-- Category Activity -->
        <activity android:name=".ui.kategori.CategoryActivity"
            android:exported="true" /> <!-- Tambahkan android:exported="true" -->

    </application>

</manifest>
